{% extends 'master.html' %}

{% block title %}
    <title>About us</title>
{% endblock %}

{% block content %}
    <h2 class="text-center text-danger">The Team</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi ea eum molestias odio porro quia totam voluptas voluptates. Accusamus aperiam aspernatur aut cumque eligendi eveniet, mollitia nobis praesentium voluptas.</span><span>Alias atque autem commodi consequuntur cum cumque dolores, earum error expedita facilis, fugiat iste labore magni maiores maxime nemo neque numquam odio praesentium quidem quisquam rem sit ut veniam voluptates?</span><span>Alias asperiores distinctio ea eaque hic illum minus neque nostrum omnis perspiciatis quis recusandae rem saepe sint, tempora. Assumenda cum deserunt eos eveniet labore libero magnam optio quos rem tempora.</span>
    </p>
    <h2 class="text-center">Our Mission</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda atque dolores ex facilis, hic illum
        inventore ipsam maxime molestias pariatur quaerat quidem reiciendis rem similique tempora totam unde
        veritatis!</p>
{% endblock %}