{% extends 'master.html' %}
{% load static %}


{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
    <h2 class="text-center text-danger">Welcome to Django</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi ea eum molestias odio porro quia totam voluptas voluptates. Accusamus aperiam aspernatur aut cumque eligendi eveniet, mollitia nobis praesentium voluptas.</span><span>Alias atque autem commodi consequuntur cum cumque dolores, earum error expedita facilis, fugiat iste labore magni maiores maxime nemo neque numquam odio praesentium quidem quisquam rem sit ut veniam voluptates?</span><span>Alias asperiores distinctio ea eaque hic illum minus neque nostrum omnis perspiciatis quis recusandae rem saepe sint, tempora. Assumenda cum deserunt eos eveniet labore libero magnam optio quos rem tempora.</span>
    </p>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="{% static 'images/g_photo.png' %}" alt="google photos logo">
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/chatu.png' %}" alt="python logo">
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/paypal.png' %}" alt="paypal logo">
            </div>
        </div>
    </div>
{% endblock %}

